%legend.center= t(".resend_unlock_instructions")

.col-md-4.col-md-offset-4
  .well
    = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!

      %fielset.form-group
        .col-md-12
          = f.label :email
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"

        .col-md-12
          %br
          = f.submit t(".resend_unlock_instructions)", class: "btn btn-success"

      = render "devise/shared/links"
