%legend.center Resend confirmation instructions

.col-md-4.col-md-offset-4
  .well
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!

      %fielset.form-group
        .col-md-12
          = f.label :email
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
            value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)

        .col-md-12
          %br
          = f.submit "Resend confirmation instructions"

      = render "devise/shared/links"
